<h2 mat-dialog-title>Edit Profile</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.user.username" name="username" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Full Name</mat-label>
    <input matInput [(ngModel)]="data.user.full_name" name="full_name" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.user.email" name="email" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mobile</mat-label>
    <input matInput [(ngModel)]="data.user.mobile_number" name="mobile_number" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="data.user.address_line1" name="address" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="data.user.address_line2" name="address" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="data.user.city" name="city" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>State</mat-label>
    <input matInput [(ngModel)]="data.user.state" name="state" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Postal Code</mat-label>
    <input matInput [(ngModel)]="data.user.postal_code" name="postal_code" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput [(ngModel)]="data.user.country" name="country" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClick()">Save</button>
</div>
