<h1>Sign Up</h1>
<form (ngSubmit)="signup()" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput type="text" id="username" [(ngModel)]="user.username" name="username" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Full Name</mat-label>
    <input matInput type="text" id="fullName" [(ngModel)]="user.fullName" name="fullName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" id="email" [(ngModel)]="user.email" name="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mobile</mat-label>
    <input matInput type="text" id="mobile" [(ngModel)]="user.mobile" name="mobile" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" [(ngModel)]="user.password" name="password" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Address Line 1</mat-label>
    <textarea matInput id="addressLine1" [(ngModel)]="user.address.addressLine1" name="addressLine1" required></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Address Line 2</mat-label>
    <textarea matInput id="addressLine2" [(ngModel)]="user.address.addressLine2" name="addressLine2"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput type="text" id="city" [(ngModel)]="user.address.city" name="city" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>State</mat-label>
    <input matInput type="text" id="state" [(ngModel)]="user.address.state" name="state" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Postal Code</mat-label>
    <input matInput type="text" id="postalCode" [(ngModel)]="user.address.postalCode" name="postalCode" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput type="text" id="country" [(ngModel)]="user.address.country" name="country" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Sign Up</button>
</form>
