<h1>Add New Restaurant</h1>
<form class="dashboard-form">
  <mat-form-field>
    <mat-label>Restaurant Name</mat-label>
    <input matInput [(ngModel)]="restaurant.name" name="name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="restaurant.address" name="address" required>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Image URL</mat-label>
    <input matInput [(ngModel)]="restaurant.image" name="image" required>
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Image</mat-label>
    <input matInput [value]="restaurant.image_url ? 'Image Uploaded' : ''" readonly>
    <input type="file" (change)="onFileSelected($event)">
  </mat-form-field>
  <img *ngIf="restaurant.image_url" [src]="restaurant.image_url" alt="Image Preview" style="width: 100px; height: 100px; margin-top: 10px;">
  <mat-form-field>
    <mat-label>Mobile Number</mat-label>
    <input matInput [(ngModel)]="restaurant.mobile" name="mobile" required>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="saveRestaurant()">
    {{selectedRestaurant ? 'Update': 'Save'}}
  </button>
</form>

<!-- show restaurant list -->
<div class="restaurant-container" style="display: flex; flex-wrap: wrap;">
  <mat-card *ngFor="let restaurant of restaurants" class="restaurant-card" style="margin: 10px;;">
    <mat-card-header>
      <img mat-card-avatar [src]="restaurant.image_url" alt="Restaurant Image">
      <mat-card-title>
        {{ restaurant.name }}
        <span matBadge="{{restaurant.menuCount}}" matBadgeOverlap="false" matBadgeColor="accent" style="margin-left: 8px;"></span>
      </mat-card-title>
      <mat-card-subtitle>{{ restaurant.address }}</mat-card-subtitle>
      <mat-card-subtitle>{{ restaurant.mobile }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button color="primary" (click)="editRestaurant(restaurant)">Edit</button>
      <button mat-button color="warn" (click)="deleteRestaurant(restaurant)">Delete</button>
      <button mat-button color="accent" (click)="viewMenus(restaurant)">View Menus</button>
      <button mat-button color="accent" (click)="openAddMenuDialog(restaurant)">Add Menu</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Menu items section -->
<div *ngIf="selectedRestaurant" class="mt-4">
  <h3>Menu Items for {{selectedRestaurant.name}}</h3>
  <ul class="list-group" style="display: flex; list-style-type: none;">
    <li class="list-group-item d-flex justify-content-between align-items-center" style="margin-left: 10px; border: 1px solid lightgray; border-radius: 5px; padding: 5px;" *ngFor="let menuItem of menus">
      <div>
        <h4 class="mb-1">{{menuItem.name}}</h4>
        <p class="mb-1">{{menuItem.description}}</p>
        <p class="mb-1">${{menuItem.price}}</p>
      </div>
      <div>
        <button mat-button color="primary" (click)="openEditMenuDialog(menuItem)">Edit</button>
        <button mat-button color="warn" (click)="deleteMenu(menuItem)">Delete</button>
      </div>
    </li>
  </ul>
</div>


